<div id="carousel-gallery" class="owl-carousel owl-theme case-list">
                                                
   <!-- Item -->
   <div class="wow fadeIn" data-wow-offset="300">
      <a href="#">
        <img class="img-responsive" src="images/case/screen1.jpg" alt="">
      </a>
   </div>
   
   <!-- Item -->
   <div class="wow fadeIn" data-wow-delay="0.5s" data-wow-offset="300">
      <a href="#">
        <img class="img-responsive" src="images/case/screen2.jpg" alt="">
      </a>
   </div>
   
   <!-- Item -->
   <div class="wow fadeIn" data-wow-delay="1s" data-wow-offset="300">
      <a href="#">
        <img class="img-responsive" src="images/case/screen3.jpg" alt="">
      </a>
   </div>
   
   <!-- Item -->
   <div class="wow fadeIn" data-wow-delay="1.5s" data-wow-offset="300">
      <a href="#">
        <img class="img-responsive" src="images/case/screen4.jpg" alt="">
      </a>
   </div>
   
   <!-- Item -->
   <div>
      <a href="#">
        <img class="img-responsive" src="images/case/screen1.jpg" alt="">
      </a>
   </div>
   
   <!-- Item -->
   <div>
      <a href="#">
        <img class="img-responsive" src="images/case/screen2.jpg" alt="">
      </a>
   </div>
   
   <!-- Item -->
   <div>
      <a href="#">
        <img class="img-responsive" src="images/case/screen3.jpg" alt="">
      </a>
   </div>
   
   <!-- Item -->
   <div>
      <a href="#">
        <img class="img-responsive" src="images/case/screen4.jpg" alt="">
      </a>
   </div>

</div>