
@media (min-width: 769px) {
	.container{
		width: 1170px;
	}
	.main-nav{display: block;}
	.main-nav-btn{display: none !important;}
	h1,h2{
		font-family:  'SYHT';
		margin: 0;
		font-weight: 100;
	}
	h1{
		font-size: 50px;
	}
	h2{
		font-size: 38px
	}


	.slogan-md{
		text-shadow:3px,3px,5px,rgba(#000, .2); 
		font-size: 30px;
		position: relative;
		&:before,&:after{
			content: "";
			position: absolute;
			width: 15%;
			height: 1px;
			background: rgba(#fff, .3);
			top: 50%;
		}
		&:before{left: 20%}
		&:after{right: 20%}

	}

}

@media (max-width: 768px) {
	.container{
		width: auto;
	}

	.main-nav{display: none;}
	.main-nav-btn{display: block !important;}

	h1,h2{
		font-family:  'SYHT';
		margin: 0;
		font-weight: 100;
	}
	h1{
		font-size: 36px;
	}
	h2{
		font-size: 28px
	}

}
