@import "mixin/css3";
@import "mixin/xmixins";
@import "mixin/grid";
@import "mixin/responsive";
@import "mixin/utilities";

@import "variable";
@import "responsive";
@import "plug";
@import "animate";
@import "public";

// project css

@font-face {
  font-family: 'SYHT';
  font-style: normal;
  font-weight: 100;
  src:  url('../fonts/SHSCN-ELight.woff') format('woff');
}

body{
	background: #fff;
}


.content-heading{
	overflow: visible;
	.slider{
		position: relative;
		height: 750px;
		padding-top: $line-height-h1;
		margin-top: -$line-height-h1;
		background: no-repeat center center;
		.slogan-lg{
			padding-top: 70px;
			margin-bottom: 20px;
			text-shadow:3px,3px,5px,rgba(#000, .2); 
		}
		.device{
			position: absolute;
			bottom: -120px;
			left: 50%;
			@include translate(-50% , 0);
			max-width: 80%;
		}
		
	}
	.slide-1{
		background-image: url(../images/bg_01.jpg);
		margin-bottom: 100px;
		
	}
}
.m-content{
	padding: 50px 0;
	overflow: hidden;
	h2{
		margin-bottom: 15px;
		color: #333;
		text-align: center;
	}
	p{
		color: #888;
		font-size: 16px;
		text-align: center;
	}

}

.light-bg{
	@extend .m-content;
	background: #fff;
}
.dark-bg{
	@extend .m-content;
	background: #F1F3F9;
}

.icon-text{
	margin-top: 15px;
	>div{
		margin-bottom: 20px;
	}
	.cir-icon{
		@include circular(100px);
		font-size: 48px;
		margin: 0 auto 20px;
		color: $color-dark;
		border: 1px solid $color-dark;
	}
	h4{
		margin: 0;
		font-size: 18px;
		color: #333;
		margin-bottom: 10px;
		font-weight: normal;
		text-align: center;
	}
	p{
		margin: 0;
		line-height: 2;
		font-size: 14px;
		color: #999;
	}
}

.left-title{
	h2{
		text-align: left !important;
	}
	p{
		text-align: left !important;
		line-height: 2;
	}
}
.icon-text-list{
	padding: 0;
	margin-top: 80px;
	li{
		position: relative;
		padding: 0 0 0 80px;
		+ li{
			margin-top: 45px;
		}
		i{
			position: absolute;
			left: 0;
			top: 0;
			font-size: 28px;
			color: #fff;
			@include circular(60px);
		}
		h5{
			margin: 0 0 10px;
			font-size: 18px;
			font-weight: normal;
		}
		p{
			color: #999;
			font-size: 14px;
			text-align: left;
		}
	}
}

/* Carousel Settings */
.owl-controls {
    opacity: 0;
    transition: all 0.2s;
}

.owl-carousel:hover .owl-controls {
    opacity: 1;
}


.owl-theme{
	position: relative;
	margin-top: 50px;
	.owl-item{
		text-align: center;
		a{
		    display: inline-block;
		    position: relative;
		    border-radius: 5px;
		    overflow: hidden;
		    &:before{
		    	content: "";
		    	@include full-box();
		    	background: rgba($color-dark, .8) ;
		    	opacity: 0;
		    	@include transition(.3s);
		    }
		    &:after{
		    	content: "\f002";
		    	font-family: "FontAwesome";
		    	color: rgba(#fff, .8);
		    	z-index: 999;
		    	position: absolute;
		    	top: 50%;
		    	left: 50%;
		    	margin-top: -10px;
		    	margin-left: -10px;
		    	opacity: 0;
		    	font-size: 28px;
		    	transition: all 0.3s;
		    	transform: translate(0, 200px);
		    }
		    
			img{
				max-width: 100%;
			}
		}
		&:hover{
			.ico{
				
			}
			a{
				&:before{opacity: 1}
				&:after{
					@include translate(0,0);
					opacity: 1;
				}
			}
		}
	}
	.owl-controls{
		.owl-buttons{
			div{
				color: $color-dark;
				border: 1px solid $color-dark;
				&:hover{
					background: $color-dark;
				}
			}
		}
		.owl-page.active span{
			background: $color-dark;
		}

	}
	.clickable{
		.owl-page:hover span{
			background: $color-dark;
		}
	}
}

.panle{
	
	box-shadow: 0 3px 15px rgba(#000, .15);
	.panle-header{
		padding: 10px 15px;
		border-radius: 5px 5px 0 0;
		h4{
			font-weight: normal;
			font-size: 18px;
			i{margin-right: 10px;font-size: 16px;}
		}
	}
	.panle-body{
		border: 1px solid #e0e0e0;
		overflow: hidden;
		border-radius: 0 0 5px 5px;
		border-top: none;
		.tile-wrap{
			$point-color:#ECECEC;
			$point-size:18px;
			$point-color-active:$color-warning;
			margin: 0;
			a{
				padding-left: 20px;
				box-shadow: 0 0 1px rgba(#000, 0.0);
				font-size: 15px;
				color: #666;
				.tile-inner{
					padding-left:$point-size / 2 + 10px;
					padding-right: 100px;
					position: relative;
					border-left: 1px solid $point-color;
					&:after,&:before{
						content: "";
						position: absolute;
						left: -$point-size / 2;
						top: 50%;
						margin-top: -$point-size / 2;
						background: $point-color;
						@include circular($point-size);
						@include transition(.3s);
					}
					&:after{
						@include scale(0);
					}
					.time{
						@include right-middle(15px);
						color: #b9b9b9;
						font-size: 14px;
					}
				}
				&:hover{
					color: $point-color-active;
					background: #F6F6F6;
					.tile-inner{
						&:after{
							background:$point-color-active ;
							@include scale(.5);
						}
						&:before{
							background:rgba($point-color-active, .3)
						}
					}
				}
			}
		}
	}
}
.panle-warning{
	.panle-header{
		background: $color-warning;
		color: #fff;
	}
}

.panle-blue{
	.panle-header{
		background: $palette-blue;
		color: #fff;
	}
}


.gradual-bg{
	// @include vertical(#8f52db, #1cb2c4, 0%, 100%) ;
	@include x-linear-gradient(top, #8f52db, #1cb2c4);
	padding: 45px 0;
	min-height: 200px;
	text-align: center;
	h2{
		color: #fff;
		margin-bottom: 10px;
	}
	p{
		color: rgba(#fff, .6)
	}
	ul.row{
		padding: 30px 0 0;
		li{
			height: 100px;
			max-height: 100%;
			margin-bottom: 30px;

			img{max-width: 100%;}
		}
	}
}

.img-bg{
	padding: 60px 0 0;
	text-align: center;
	height: 380px;
	background: url(../images/bg_08.jpg) no-repeat center center;
	background-size: 100% auto;
	position: relative;
	.cover{
		content: "";
		position:absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000, .5);
		z-index: 0;
	}
	.container{z-index: 1;position: relative;}
	h2{
		color: #fff;
		margin-bottom: 70px;
	}
	.btn{
		padding: 20px 70px;
		font-weight: 100;
		font-family: "SYHT";
		font-size: 32px;
		background: #e9650e;
		border-radius: 5px
	}
}