
<div class="services" ng-mousedown="Recovery()">
    <div class="title"><img src="images/page12/title.png" alt=""></div>
    <div class="p-box">
        <div class="balloon b1 {{class.stete1}}" ng-click="change1()"></div>
        <div class="balloon b2 {{class.stete2}}" ng-click="change2()"></div>
        <div class="balloon b3 {{class.stete3}}" ng-click="change3()"></div>
    </div>
    <img class="c1" src="images/page12/cloud.png" alt="">
    <img class="c2" src="images/page12/cloud.png" alt="">
</div>