
<div class="container ">
	<h1 class="title-top"><img src="images/page2/clothes-title.png" ></h1>
	<div class="row clothes">
		<div class="col-sm-4 col-xs-6 l-thing">
			<h2 class="tit"><img src="images/page2/text-1.png" ></h2>
			<ul class="row">
				<li class="col-xs-4"><img src="images/page2/hair-1.png" ng-click="changeHair1()"></li>
				<li class="col-xs-4"><img src="images/page2/hair-2.png" ng-click="changeHair2()"></li>
				<li class="col-xs-4"><img src="images/page2/hair-3.png" ng-click="changeHair3()"></li>
			</ul>
			<h2 class="tit"><img src="images/page2/text-2.png" ></h2>
			<ul class="row">
				<li class="col-xs-6"><img src="images/page2/pc.png" ></li>
				<li class="col-xs-6"><img src="images/page2/phone.png" ></li>
			</ul>
			<h2 class="tit"><img src="images/page2/text-3.png" ></h2>
			<ul class="row">
				<li class="col-xs-4"><img src="images/page2/clot-1.png" ng-click="changeClot1()" ></li>
				<li class="col-xs-4"><img src="images/page2/clot-2.png" ng-click="changePants0()" ></li>
				<li class="col-xs-4"><img src="images/page2/clot-3.png" ng-click="changePants1()" ></li>
			</ul>
		</div>





		
		<div class="col-sm-4 col-xs-6 people">
			<div class="box-me">
				<img src="images/page2/body/body0.png" class="default">
				<div class="changes head"><img src="images/page2/body/{{hairs}}" ></div>
				<div class="changes body"><img src="images/page2/body/{{jacket}}"></div>
				<div class="changes leg" ng-hide="hideleg"> <img src="images/page2/body/{{pants}}"></div>
				<div class="changes foot"><img src="images/page2/body/{{shoes}}" ></div>
			</div>
		</div>







		<div class="col-sm-4 col-xs-6 r-thing">
			<h2 class="tit"><img src="images/page2/text-4.png" ></h2>
			<ul class="row">
				<li class="col-xs-4"><img src="images/page2/shirt-1.png" ng-click="changeClot2()"></li>
				<li class="col-xs-4"><img src="images/page2/shirt-2.png" ng-click="changeClot0()"></li>
				<li class="col-xs-4"><img src="images/page2/shirt-3.png" ng-click="changeClot3()"></li>
			</ul>
			<h2 class="tit"><img src="images/page2/text-5.png" ></h2>
			<ul class="row">
				<li class="col-xs-4"><img src="images/page2/dress-1.png" ng-click="changeClot4()"></li>
				<li class="col-xs-4"><img src="images/page2/dress-2.png" ng-click="changePants2()"></li>
				<li class="col-xs-4"><img src="images/page2/dress-3.png" ng-click="changePants3()"></li>
			</ul>
			<h2 class="tit"><img src="images/page2/text-6.png" ></h2>
			<ul class="row">
				<li class="col-xs-4"><img src="images/page2/shoes-1.png" ng-click="changeShose1()"></li>
				<li class="col-xs-4"><img src="images/page2/shoes-2.png" ng-click="changeShose0()"></li>
				<li class="col-xs-4"><img src="images/page2/shoes-3.png" ng-click="changeShose2()"></li>
			</ul>
		</div>
	</div>
<!--
	<div class="links">
	    <a href="#/page2" class="link">clothes style</a>
	    <a href="#/page3" class="link">personality</a>
	    <a href="#/page4" class="link">funny emotion</a>
	</div>
-->
</div>
