

<div class="container">
   <div class="title"><img src="images/page16/title.png" alt=""></div>
   <div class="row zan">
       <div class="col-xs-6">
           <div class="b-box">
               <ul class="lights">
                   <li><img src="images/page16/l1.png" alt=""></li>
                   <li><img src="images/page16/l2.png" alt=""></li>
                   <li><img src="images/page16/l3.png" alt=""></li>
               </ul>
               <div class="bulb b1"></div>
               <div class="bar-box">
                   <div class="bar"></div>
               </div>
           </div>
       </div>
       <div class="col-xs-6">
           <div class="b-box">
               <ul class="lights">
                   <li><img src="images/page16/l1.png" alt=""></li>
                   <li><img src="images/page16/l2.png" alt=""></li>
                   <li><img src="images/page16/l3.png" alt=""></li>
               </ul>
               <div class="bulb b2"></div>
               <div class="bar-box">
                   <div class="bar"></div>
               </div>
           </div>
       </div>
   </div>
</div>

