<!doctype html>
<html ng-app="ryApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/app.css">

  </head>
  <body>
     
    <header class="header">
        <div class="container">
            <ul class="nav nav-list pull-right main-nav-btn">
                <li>
                    <a class="menu-toggle" href="#menu">
                        <span class="access-hide">Menu</span>
                        <span class="fa fa-bars"></span>
                        <span class="header-close icon icon-close"></span>
                    </a>
                </li>
            </ul>
            <a class="header-logo" href="index.html"></a>

            <ul class="nav nav-list pull-right">
                <li>
                    <a class="menu-toggle" href="#profile">
                        <span class="access-hide">张涵予</span>
                        <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="images/users/avatar-001.jpg"></span>
                        <span class="header-close icon icon-close"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-list pull-right main-nav" ng-init="activeTab=1">
                <li ng-class="{active: activeTab == 1}">
                    <a ui-sref="index" class="top-nav" ng-click="activeTab=1">首页</a>
                </li>
                <li ng-class="{active: activeTab == 2}">
                    <a ui-sref="pmall" class="top-nav" ng-click="activeTab=2">产品商城</a>
                </li>
                <li ng-class="{active: activeTab == 3}">
                    <a ui-sref="case" class="top-nav" ng-click="activeTab=3">开发者案例</a>
                </li>
                <li ng-class="{active: activeTab == 4}">
                    <a ui-sref="download" class="top-nav" ng-click="activeTab=4">下载中心</a>
                </li>
            </ul>
            
        </div>
    </header>

    <nav class="menu menu-right" id="menu">
        <div class="menu-scroll">
            <div class="menu-wrap">
                <div class="menu-content">
                    <ul class="nav">
                        <li><a ui-sref="index" class="top-nav">首页</a></li>
                        <li><a ui-sref="pmall" class="top-nav">产品商城</a></li>
                        <li><a ui-sref="case" class="top-nav">开发者案例</a></li>
                        <li><a ui-sref="download" class="top-nav">下载中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <nav class="menu menu-right" id="profile">
        <div class="menu-scroll">
            <div class="menu-wrap">
                <div class="menu-top">
                    <div class="menu-top-img">
                        <img alt="John Smith" src="images/samples/landscape.jpg">
                    </div>
                    <div class="menu-top-info">
                        <a class="menu-top-user" href="javascript:void(0)"><span class="avatar pull-left"><img alt="alt text for John Smith avatar" src="images/users/avatar-001.jpg"></span>张馨予</a>
                    </div>
                </div>
                <div class="menu-content">
                    <ul class="nav">
                        <li>
                            <a href="javascript:void(0)"><span class="icon icon-account-box"></span>基本信息</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><span class="icon icon-add-to-photos"></span>我的空间</a>
                        </li>
                        <li>
                            <a href="page-login.html"><span class="icon icon-exit-to-app"></span>退出登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="content" ui-view></div>

                    
                            
                                            
    <!--页脚 start-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>官方账号</h3>
                    <p>关注我们获得最新产品动态</p>
                    <div class="icon-row">
                        <a href="#" class="bg-success waves-effect"><i class="fa fa-weixin"></i></a>
                        <a href="#" class="bg-danger waves-effect"><i class="fa fa-weibo"></i></a>
                    </div>
                    
                </div>
                <div class="col-sm-2">
                    <h3>帮助中心</h3>
                    <ul class="links">
                        <li><a href="#">购物指南 </a></li>
                        <li><a href="#">配送方式 </a></li>
                        <li><a href="#">支付方式 </a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h3>服务支持</h3>
                    <ul class="links">
                        <li><a href="#">售后服务 </a></li>
                        <li><a href="#">常见问题 </a></li>
                        <li><a href="#">产品说明 </a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h3></i>关于我们</h3>
                    <ul class="links">
                        <li><a href="#">公司简介 </a></li>
                        <li><a href="#">加入我们 </a></li>
                        <li><a href="#">联系我们 </a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>热线电话</h3>
                    <div class="contact co-danger">400-500-7890</div>
                    
                </div>
            </div>
        </div>
        <div class="copyright">
            沪ICP备13039009号，版权所有 © 2011-2014 520公司版权所有
        </div>
    </footer>
    <!--页脚 end-->

    <div class="fbtn-container">
        <div class="fbtn-inner">
            <a class="fbtn fbtn-red" href="#">
                <span class="fbtn-text">to top</span>
                <span class="fa fa-arrow-up"></span>
            </a>
        </div>
    </div>

 



<!--   第三方 框架与库 -->
    <script src="framework/jquery/jquery.min.js"></script>
    <script src="framework/angular/angular.min.js"></script>
    <script src="framework/angular/angular-animate.min.js"></script>
    <script src="framework/angular/angular-ui-router.min.js"></script>
    <!-- script src="framework/angular/ui-bootstrap-tpls.js"></script -->
    <script src="framework/material/base.min.js"></script>
    <script src="framework/others/owl.carousel.min.js"></script>
    <script src="framework/others/wow.min.js"></script>

<!-- 本应用脚本 -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>


</body>
</html>
