

<ul class="right-navs" ng-show="showNav1" >
    <li ng-repeat="nav in navs"  ng-class="{active: isActive(nav)}">
        <a ng-href="#{{nav.Url}}"><span>{{nav.text}}</span></a>
    </li>
</ul>
 

<ul class="right-navs" ng-show="showNav2">
    <li ng-repeat="nav in navs2"  ng-class="{active: isActive(nav)}">
        <a ng-href="#{{nav.Url}}"><span>{{nav.text}}</span></a>
    </li>
</ul>
 
 
 

 <div class="navbar top-bar pullOpenDown dy20" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBtn">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 

      <a class="navbar-brand" href="#/">My WEBAPP</a>
    </div>

    <div class="collapse navbar-collapse" id="navBtn">

      <ul class="nav navbar-nav navbar-right">

        <li class="active"><a ng-href="#/page5">About Me</a></li>
        <li><a ng-href="#/page2">clothes style</a></li>
        <li><a ng-href="#/page3">personality</a></li>
        <li><a ng-href="#/page4">funny emotion</a></li>

      </ul>

    </div>
  </div>
   
</div>



<!--
<div class="turn-page">
    <a ng-href="#/{{prevPage}}" class="prev scrollUp"></a>
    <a ng-href="#/{{nextPage}}" class="next scrollDown"></a>	
</div>
-->


