

<div class="container">
    <div class="v-line"></div>
    <h1 class="title"><img src="images/page5/title.png " alt=""></h1>
    <p class="intro">
        I am a UI designer,I build awesome things
        for web and mobile as well as other print
        stuff.If you have a new project or want to
        do some other design stufll.Let me know , 
        I’d love to help.
    </p>
    <div class="btn-row animated fadeInUp dy15" >
        <a href="#/page2" class="btn">What's More</a>
    </div>
    <div class="workspace">
        <div class="clock">
            <div class="pointer"></div>
        </div>
        <div class="eye-control"></div>
    </div>
    
</div>