

<div class="container">
    
    <div class="axis">
        <ul class="content">
            <li class="move2Up ">
                <img src="images/page7/fl.png" />
                <div class="top-box showMe dy12 fl-1">
                    <div class="bubble">80%</div>
                </div>
            </li>
            <li class="move2Up dy3">
                <img src="images/page7/ps.png" />
                <div class="top-box showMe dy14 ps-1">
                    <div class="bubble">90%</div>
                </div>
            </li>
            <li class="move2Up dy5">
                <img src="images/page7/ai.png" />
                <div class="top-box showMe dy16 ai-1">
                    <div class="bubble">70%</div>
                </div>
            </li>
            <li class="move2Up dy7">
                <img src="images/page7/cdr.png" />
                <div class="top-box showMe dy18 cdr-1">
                    <div class="bubble">55%</div>
                </div>
            </li>
            <li class="move2Up dy9">
                <img src="images/page7/3d.png" />
                <div class="top-box showMe dy20 m3d-1">
                    <div class="bubble">50%</div>
                </div>
            </li>
        </ul>
    </div>
    
</div>