

<h1 class="title-top"><img src="images/page3/title.png" ></h1>



<div class="people-box">
	<img src="images/page3/me.png"/ class="mybody">
    
	<div class="mark-box"> 
		<a href="javascript:;" class="lb label-1" ng-click="show1()"></a>
		<a href="javascript:;" class="lb label-2" ng-click="show2()"></a>
		<a href="javascript:;" class="lb label-3" ng-click="show3()"></a>
		<a href="javascript:;" class="lb label-4" ng-click="show4()"></a>
		<a href="javascript:;" class="lb label-5" ng-click="show5()"></a>
	</div>
	
	
</div> 


 <ul class="cover-gif middle-box" >
    <li class="{{showGif}}"></li>

</ul> 