
<h1 class="title-top animated fadeInDown"><img src="images/page4/title.png" ></h1>

<div class="curtain animated fadeInLeft dy8"><img src="images/page4/curtain.png" ></div>
<div class="shelf animated fadeInRight dy10"><img src="images/page4/shelf.png" ></div> 


<div class="glass-box">
	<div class="glass">
		<ul class="face-list">
			<li><a href="javascript:;" class="fc1" ng-click="changeFace1()"></a></li>
			<li><a href="javascript:;" class="fc2" ng-click="changeFace2()"></a></li>
			<li><a href="javascript:;" class="fc3" ng-click="changeFace3()"></a></li>
			<li><a href="javascript:;" class="fc4" ng-click="changeFace4()"></a></li>
			<li><a href="javascript:;" class="fc5" ng-click="changeFace5()"></a></li>
		</ul>
		<div class="face-box {{face}}"></div>
	</div>
	<img src="images/page4/tiptext.png" class="prompt" alt="">
</div>
