

<div class="awards"  ng-click="tapCount()" ng-init="count=0">
   
    <div class="title"><img src="images/page8/title.png" alt=""></div>
    <div class="road-box">
        <div class="car {{carname}} m{{count}}" ></div>
        
        <ul class="texts">
            <li class="one" ng-class="{show:count>=1}">
                <ol>
                    <li>Get ABB scholarship once</li>
                    <li>Xiamen institute special scholarship once</li>
                    <li> First-class scholarship once</li>
                </ol>
            </li>
            <li class="two" ng-class="{show:count>=2}">
            The title of outstanding student leaders <br>
            and miyoshistudent leaders
            </li>
            <li class="three" ng-class="{show:count>=3}">
            Won the second prize in the national English  <br>
             competition for two consecutive years
            </li>
            <li class="four" ng-class="{show:count>=4}">
            The main person in charge of Minnan Culture Co. Ltd. project and  
            this project ranked the sixth in fujian province   and selected  
            in the national evaluation in the same time
            </li>
            <li class="five" ng-class="{show:count>=5}">
                Won five Finalist Award and one  award for outstanding 
                 from the Advertising art festival of the Chinese college 
                 students Academy Awards 
            </li>
            <li class="six" ng-class="{show:count>=6}">
                The work" Fat KFC" won Excellence Award from the Blue Orange Cup MYUI (global) design competition 
            </li>
            <li class="seven" ng-class="{show:count>=7}">
                Won the third prize from the National spoken 
                 English test competition 
            </li>
            <li class="eight" ng-class="{show:count>=8}">
                The”Kids Fun packaging design and "The panda baby" logo design won the  Finalist Award  from Fujian star design competition 
            </li>
        </ul>
        
    </div>
    
</div>