
<div class="container many">
    <div class="title"><img src="images/page13/title.png" alt=""></div>
    <div class="btn-row animated fadeIn dy10">
        <a href="javascript:;" class="btn" ng-click="resume=!resume">DOWLOAND MY CV</a>
        <a href="#/page15" class="btn">LEAVE A MESSAGE</a>
    </div>
    <div class="myphoto">
        <img src="images/page13/photo.png" class="ArcSwing dy15">
    </div>
    <div class="peoples">
        <img src="images/page13/people.png">
    </div>
</div>
<img src="images/page13/phone.png" alt="" class="phone">


<div class="resume" ng-show="resume">
    <img src="images/resume.jpg" alt="" ng-click="resume=!resume">
</div>