

<div class="title"><img src="images/page9/title.png" alt=""></div>
<div class="experience animated fadeIn dy1" >
   <ul class="masks">
       <li class="line-1"></li>
       <li class="line-2"></li>
       <li class="line-3"></li>
       <li class="line-4"></li>
       <li class="line-5"></li>
       <li class="line-6"></li>
   </ul>
   <img src="images/page9/line.png">
   <ul class="work-row row-1">
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
   </ul>
   <ul class="work-row row-2">
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
   </ul>
   <ul class="work-row row-3">
       <li>
           <h5>MAY 2011</h5>
           <p>The cross-strait exchange volunteers</p>
       </li>
   </ul>
    
</div>


<img src="images/page9/sun.png" class="leftpic animated fadeInLeft dy3">
<img src="images/page9/bird.png" class="rightpic animated fadeInRight dy5">