
<slider></slider>

<div class="dark-bg">
    <div class="container">
        <h2>软营产品</h2>
        <p>总有一款产品能天衣无缝地融入您的项目中</p>
        <ul class="row products">
            <li class="col-sm-12">
                <a href="#"><img src="images/product/Product_c_04.jpg"></a>
            </li>
            <li class="col-sm-4">
                <a href="#"><img src="images/product/Product_c_08.jpg"></a>
            </li>
            <li class="col-sm-4">
                <a href="#"><img src="images/product/Product_c_10.jpg"></a>
            </li>
            <li class="col-sm-4">
                <a href="#"><img src="images/product/Product_c_10.jpg"></a>
            </li>
            <li class="col-sm-8">
                <a href="#"><img src="images/product/Product_c_15.jpg"></a>
            </li>
            <li class="col-sm-4">
                <a href="#"><img src="images/product/Product_c_08.jpg"></a>
            </li>
        </ul>
        <h2>开发者服务</h2>
        <p>软营开发者服务平台让天下所有的开发者都能开发出令人兴奋的环境感知应用</p>
        <ul class="row products">
            <li class="col-sm-6">
                <a href="#"><img src="images/product/Product_c_20.jpg"></a>
            </li>
            <li class="col-sm-3">
                <a href="#"><img src="images/product/Product_c_22.jpg"></a>
            </li>
            <li class="col-sm-3">
                <a href="#"><img src="images/product/Product_c_24.jpg"></a>
            </li>
        </ul>
        <h2>其它产品</h2>
        <p>软营开发者服务平台让天下所有的开发者都能开发出令人兴奋的环境感知应用</p>
        <ul class="row products">
            <li class="col-sm-6">
                <a href="#"><img src="images/product/Product_c_38.jpg"></a>
            </li>
            <li class="col-sm-6">
                <a href="#"><img src="images/product/Product_c_38.jpg"></a>
            </li>
            <li class="col-sm-4">
                <a href="#"><img src="images/product/Product_c_41.jpg"></a>
            </li>
            <li class="col-sm-4">
                <a href="#"><img src="images/product/Product_c_43.jpg"></a>
            </li>
            <li class="col-sm-4">
                <a href="#"><img src="images/product/Product_c_45.jpg"></a>
            </li>
        </ul>
    </div>
</div>