<ul class="row products">
                    
    <li class="col-sm-3">
        <a href="#">
            <img src="images/case/c4.jpg">
            <span class="caption">响应式Web应用</span>
        </a>
    </li>
    <li class="col-sm-3">
        <a href="#">
            <img src="images/case/c5.jpg">
            <span class="caption">响应式Web应用</span>
        </a>
    </li>
    <li class="col-sm-3">
        <a href="#">
            <img src="images/case/c6.jpg">
            <span class="caption">响应式Web应用</span>
        </a>
    </li>
    <li class="col-sm-3">
        <a href="#">
            <img src="images/case/c7.jpg">
            <span class="caption">响应式Web应用</span>
        </a>
    </li>
    <li class="col-sm-3">
        <a href="#">
            <img src="images/case/c8.jpg">
            <span class="caption">响应式Web应用</span>
        </a>
    </li>
    <li class="col-sm-3">
        <a href="#">
            <img src="images/case/c2.jpg">
            <span class="caption">响应式Web应用</span>
        </a>
    </li>
    <li class="col-sm-3">
        <a href="#">
            <img src="images/case/c5.jpg">
            <span class="caption">响应式Web应用</span>
        </a>
    </li>
</ul>